.text-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textInput {
  width: 90%;
  resize: none;
  border: none;
  outline: none;
  font-size: 15px;
  align-self: center;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  text-decoration: none !important;
}
